
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    
    
   
    
     
}


#preloader{
  background: #000 url(./images/Loading_1.gif) no-repeat center center ;
  height: 100vh;
  background-size: 15%;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
iframe{
  display: none;
}
@media (max-width: 600px) {
  #preloader {
   
    background-size: 40%; 
  }
}




    .center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
}
.center-text span{
    color: #ee1c47;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap:2rem ;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 88%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #ee1c47;
}
.heart-icon:hover{
    color: #ee1c47;
}
.ratting i{
    color: #ff8c00;
}
.price h4{
    color: #111;
    font-size: 16px;
    font-weight: 400;
    display: grid;
    place-items: center;
}
.price p{
  color: #088178;
    font-size: 15px;
    font-weight: 600;
    display: grid;
    place-items: center;
    
}
.ban-img img{
    width: 99%;
}
#menu-icon{
  display: none;
}

@media (max-width:600px) {
    .ban-img img{
        width: 560px;
    }
    
}


/* nav res mediaquery */

@media(max-width:750px){
  .navmenu{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: #edfff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all .42s ;
  }
  .navmenu a{
    display: block;
    margin: 18px 0;
  }
  .navmenu.open{
    right: 0;
  }
  #menu-icon{
    display: contents;
  }
}
/* navbar media */




/* nav style */


header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10%;

}
.logo img{
  max-width: 120px;
  height: auto;
}
.navmenu{
  display: flex;
}
.navmenu a{
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 400;
  transition: all .42s ease;
}
.navmenu a:hover{
  color: #ee1c47;
}
.nav-icon{
  display: flex;
  align-items: center;
}
.nav-icon i{
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all .42s ease;
}
.nav-icon i:hover{
  transform: scale(1.1);
  color: #ee1c47;
}
#menu-icon{
  font-size: 35px;
  color: #2c2c2c;
  cursor: pointer;
  z-index: 10001;

}
/* 
sticky nav items */
header.sticky{
  background: #fff;
  padding: 20px 10%;
  box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* 
footer style */


.bn46 {
  width: 150px;
  height: 50px;
}
.bn45 {
  width: 170px;
  height: 50px;
}
.contact{
  background-color: #fff;
}
.contact-info{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(160px,auto));
  gap: 3rem;
}
.first-info{
  width: 140px;
  height: auto;
}
.contact-info h4{
  color: #212529;
  font-size: 14px;
  margin-bottom: 10px;
}
.contact-info p{
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .42s;
}
.contact-info p:hover{
  color: #ee1c47;
}
.social-icon i{
  color: #565656;
  margin-right: 10px;
  font-size: 20px;
  transition: all .42s;
}
.social-icon i:hover{
  transform: scale(1.3);
}

.left-col{
  float: left;
  margin-left: 7%;
   margin-bottom: 240px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-col h4{
  padding-bottom: 15px;
}
.left-col h1{
  color: #088178;
}
.left-col button{
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  font-weight: 700;
  font-size: 15px;

}

